
.icon-down-big:before { content: '\e800'; } /* '' */
.icon-left-big:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */