* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 900px;
    margin: 0 auto;
}

/*-----header------*/
header,footer {
    background-color: #333;
    height: 50px;
}
header img {
    height: 40px;
    float: left;
}
header li {
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 50px;
    font-size: 17px;
    padding-right: 30px;
}
header a:hover {
    font-size: 30px;
    transition: 0.5s;
}

/*-----content-----*/
.content {
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    clear: both;
}
.content aside {
    width: 200px;
    height: 500px;
    background-color: #eee;
    float: left;
}
.content .main {
    width: 690px;
    background-color: #eee;
    float: left;
    line-height: 1.5;
    margin-left: 10px;
}

/*-----footer-----*/

footer {
    clear: both;
}
footer li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;
    font-size: 15px;
    padding-right: 30px;
}
