/*整体*/
html,body,ul,li,h1 {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #333;
}
/*头部*/
#header {
	height: 50px;
}
#header .header-lists:after {
	content: '';
	display: block;
	clear: both;
}
#header .header-lists>li {
	float: left;
}
#header .header-lists li:first-child {

}