
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1472010532'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1472010532#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1472010532') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1472010532') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1472010532#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-socialcss3:before { content: "\e879"; }
.icon-socialjavascript:before { content: "\e88f"; }
.icon-socialgithub:before { content: "\e873"; }
.icon-coffee:before { content: "\e693"; }
.icon-mail:before { content: "\e609"; }
.icon-project:before { content: "\e80d"; }
.icon-socialhtml5:before { content: "\e877"; }
.icon-Twitter:before { content: "\f0003"; }
.icon-phone:before { content: "\e737"; }
