*{
	margin:0px;
	padding: 0px;
	box-sizing:border-box;
}
body,html{
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 1170px;
	margin:0 auto;
	text-align: center;
	/*border: 1px solid;*/
}
.btn{
	display: inline-block;
	background:#fed136;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	padding: 20px 40px;
	border-radius: 5px;
}
.btn:hover{
	background:#fec503;
}
/*上面是页面共同的*/
#header{
	background:url('../img/header-bg.jpg') 0 0 no-repeat;
	background-size: cover;
	background-position: center center;
}
#header .intro{
	color: #fff;
	/*border:1px solid;*/
	padding:200px 0;
}
.intro h2{
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
	margin-bottom: 30px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.intro h1{
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 70px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*header部分的intro结束*/
.navbar{
	width: 100%;
	background:#222;
	padding: 20px 0;
	position: fixed;
	top: 0;
	z-index: 1;
}
.navbar .logo{
	float: left;
	padding: 7px 0;
	font-size: 30px;
	font-style: italic;
	color: #fed136;
}
.navbar ul{
	float: right;
	/*border: 1px solid;*/	
}
.navbar ul li{
	float: left;
	padding: 15px;
}
.navbar li a{
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #fff;
}
.navbar li a:hover{
	color: #fed136;
}
/*header部分的nav结束*/
#content .services{
	padding: 150px 0;
}
#content h1{
	font-size: 40px;
	margin-bottom: 15px;
}
#content .caption{
	font-style: italic;
	color: #777;
	margin-bottom: 50px;
}
#content .services-items{
	/*border:1px solid;*/
	margin-left: -64px;
}
#content .services-items li{
	float: left;
	/*border:1px solid;*/
	padding: 0 10px;
	margin-left: 63px;
}
#content .services-items  i{
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background:#fed136;
	border-radius: 50px;
	margin:10px auto;
	color:#fff;
	font-size: 4em;
}
i.font-shopping-cart:before{
	content: "\e6b5"
}
.services-items h4{
	margin:15px 0;
}
.services-items p{
	color: #777;
	font-size: 14px;
	line-height: 1.75;
}
i.font-laptop:before{
	content: "\e60f";

}
#content i.font-laptop.font-diverse{
	line-height: 1.8;
}
i.font-lock:before{
	content: "\e6e3";
}
/*content部分的services结束*/
#content .portfolio{
	background:#f7f7f7;
}
#content .portfolio-items{
	/*border: 1px solid;*/
	margin-left: -58px;
}
#content .portfolio-items li{
	float: left;
	background:#fff;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-left: 58px;
	position: relative;
}
#content li img{
	width: 350px;
	height: 250px;
}
#content .portfolio-items h4{
	font-size: 18px;
	padding-top: 20px;
	font-weight: bold;
}
#content .portfolio-items p{
	font-size: 16px;
	font-style: italic;
	color: #777;
	line-height: 1.75;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.portfolio-items a:hover .main-bg{
	width: 350px;
	height: 250px;
	background:rgba(254,209,54,0.8);
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	display:block;
	transition-property: background-color;
    transition-duration: 1s;
    z-index: 1;
}
.portfolio-items .main-bg{
	width: 350px;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.main-bg .bg-row-line{
	position: absolute;
	height: 20px;
    width: 60px;
    background: #fff;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -30px;
}
.main-bg .bg-vertical-line{
	position: absolute;
	height: 60px;
    width: 20px;
    background: #fff;
    border-radius: 3px;
	top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -30px;
}
/*content部分的portfolio结束*/
#content .about-items{
	position: relative;
	/*border: 1px solid;*/
}
#content .about-items:before{
	content: "";
	height: 1000px;
	width: 2px;
	background:#f1f1f1;
	position: absolute;
	z-index: -1;
}
.about-items li.clearfix{
	/*border: 1px solid;*/
	margin-bottom: 80px;
}

#content .about-items li:nth-child(2n+1) img{
	width: 150px;
	height: 150px;
	border: 6px solid #f1f1f1;
	border-radius: 100%;
	margin:0 40px;
	float: right;
	margin-right: 508px;
}
.about-items li:nth-child(2n+1) .about-text{
	float: right;
	text-align: right;
}
.about-text h3{
	font-size: 18px;
    line-height: 1.1;
	margin-bottom: 10px;
} 
.about-text p{
	color: #777;
    font-size: 14px;
    line-height: 1.7;
}
#content .about-items li:nth-child(2n) img{
	width: 150px;
	height: 150px;
	border: 6px solid #f1f1f1;
	border-radius: 100%;
	margin:0 40px;
	float: left;
	margin-left: 508px;
}
.about-items li:nth-child(2n) .about-text{
	float: left;
	text-align: left;
}
.about-summary{
	width: 150px;
	height: 150px;
	background: #FED136;
	border: 6px solid #f1f1f1;
	border-radius: 100%;
	color:#fff;
	line-height: 26px;
	margin-left: 508px;
}
.about-summary p{
	margin:30px auto;
}
/*content部分的about结束*/
#content .team{
	background: #f7f7f7;
}
.team .team-items{
	/*border: 1px solid red;*/
	margin-left: -242px;
}
.team-items li{
	float: left;
	/*border:1px solid;*/
	margin-left: 242px;
}
#content .team-items img{
	width: 225px;
	height: 225px;
	border: 8px solid #fff;
	border-radius: 50%;
}
.team-items h3{
	padding-top: 25px;
    font-size: 18px;
    font-weight: 700;
}
.team-items p{
	font-size: 14px;
	margin-bottom: 10px;
	color: #777;
	line-height: 1.75;
}
.team-iconfont a{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background:#000;
	color: #fff;
}
.team-iconfont a:hover{
	background:#fed136;
	transition:0.7s;
}
.font-twitter:before{
	content: "\e736";
}
.font-facebook:before{
	content: "\e6e2";
}
.font-linkedin:before{
	content: "\e631";
}
i.font-inverse{
	font-size: 27px;
}
.team>.container>p{
	color: #777;
	font-size: 16px;
	line-height: 1.75;
	margin-top: 50px;
}
/*content部分的team结束*/
#content .clients{
	padding: 50px 0;
}
#content .clients img{
	width: 200px;
	height: 50px;
}
.clients .clients-items{
	/*border: 1px solid red;*/
	margin-left: -122px;
}
.clients li{
	float: left;
	/*border: 1px solid;*/
	margin-left: 120px;
}
/*content部分的clients结束*/
#content .contact{
	background:url('../img/map-image.png') 0 0 no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #222;
}
.contact h1{
	color: #fff;
}
.contact .contact-items{
	display: block;
	font-size: 14px;
	line-height: 1.75;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	width: 550px;
	padding: 20px;
	margin:0 20px 25px 0;
}
.contact textarea{
	float: right;
    height: 247px;
}
.contact .submit{
	border:1px solid #FED136;
	cursor: pointer;
}
/*content部分的contact结束,content结束*/
#footer{
	padding: 25px 0;
}
#footer ul{
	float: left;
	margin: 0px 278px;
}
#footer li{
	float: left;
	margin: 0px 9px;
}
#footer p:nth-child(1){
	float: left;
	margin-left: 2px;
	position: relative;
    top: 13px;
    left: 66px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
#footer p:nth-child(3){
	float: left;
	position: relative;
    top: 13px;
    left: -66px;
    font-size: 14px;
    font-weight: 700;
}
#footer p a{
	color:#FED136;
}
#footer p a:hover{
	text-decoration: underline;
	color: #FEC503;
}
/*footer部分结束*/