
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469600819'); /* IE9*/
  src: url('iconfont.eot?t=1469600819#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469600819') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469600819') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469600819#iconfont') format('svg'); /* iOS 4.1- */
}

.skill-iconfont{
  font-family:"iconfont" !important;
  font-size:120px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.footer-iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.nav-iconfont{
  font-family:"iconfont" !important;
  font-size:120px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
