
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466201414'); /* IE9*/
  src: url('iconfont.eot?t=1466201414#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466201414') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466201414') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466201414#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-html-copy:before { content: "\e601"; }
.icon-css3:before { content: "\e6d6"; }
.icon-socialjavascript:before { content: "\e87b"; }
.icon-javascript:before { content: "\e608"; }
.icon-bootstrap:before { content: "\e602"; }
.icon-lol:before { content: "\e606"; }
.icon-dota:before { content: "\e603"; }
.icon-jquery:before { content: "\e605"; }
.icon-ituneslogoamusicalnoteinsidecircle:before { content: "\e641"; }
.icon-movie:before { content: "\e753"; }
.icon-movie1:before { content: "\e640"; }
.icon-game:before { content: "\e7b9"; }
.icon-read:before { content: "\e7b9"; }
.icon-zhihu:before { content: "\e634"; }
.icon-QQ:before { content: "\e607"; }
.icon-unie61d:before { content: "\e60a"; }
.icon-mail:before { content: "\e749"; }
.icon-phone:before { content: "\e631"; }
.icon-stack-overflow:before { content: "\e7bb"; }
