@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


html,body,h1,h2,h3,div,ul,li,p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

#header{
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  height: 100%;
  background-size: cover;
}

#header .navbar{
  height: 50px;
  padding: 25px 0;
  margin-bottom: 20px;
  line-height: 50px;
}

#header .container:after{
  content: '';
  display: block;
  clear: both;
}

#header .navbar:after{
  content: '';
  display: block;
  clear: both;
}

#header .navbar .logo{
  float: left;
  font-size: 28px;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color:#fed136;
  font-weight: bolder;
  /*padding: 15px;*/
}

#header .navbar ul{
  float: right;
}

#header .navbar li{
  float: left;
  line-height: 50px;
}

#header .navbar li a{
  float: left;
  color: #fff;
  font-size: 14px;
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  padding-left: 15px;
  transition: 0.7s;
}

#header .navbar li a:hover{
  color:#fed136;
}

#header .welcome{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

#header .welcome h1{
  color: #fff;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 25px;
}

#header .welcome p{
  color: #fff;
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 50px;
}

#header .welcome a{
  padding: 20px 40px;
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #fed136;
  border-radius: 4px;
}

#header .welcome a:hover{
  background-color: #fec503;
}

#services{
  margin-bottom: 100px;
}

#services:after{
  content: '';
  display: block;
  clear: both;
}

#services .container{
  padding: 150px 0;
  text-align: center;
}

#services .container h1{
  font-size: 44px;
  margin-bottom: 15px;
  text-align: center;
}

#services .container h1+p{
  text-align: center;
  font-size: 16px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 20px;
  margin-bottom: 75px;
}
#services ul{
  margin-left: 37px;
}
#services li{
  float: left;
  width: 360px;
  height: 240px;
  margin: 0 10px;
  text-align: center;
}

#services li a{
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

#services li h2{
  font-size: 18px;
  margin: 15px 0;
}

#services li p{
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#services .round{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fed136;
  line-height: 100px;
  margin: 0 auto;
}

#services .iconfont{
  font-size: 40px;
  color: #fff;
  text-align: center;
}

#profile{
  background-color: #f7f7f7;
}

#profile .container{
  padding: 150px 0;
}

#profile .container::after{
  content: '';
  display: block;
  clear: both;
}

#profile .container h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

#profile .container h1+p{
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 75px;
  text-align: center;
  cursor: #777;
}

#profile .container li{
  float: left;
  background-color: #fff;
  margin: 20px;
}

#profile .container .bgcolor{
  background-color: #fff;
}

#profile .container img{
  width: 360px;
}

#profile .container li h2{
  font-size: 18.72px;
  font-weight: bold;
  margin: 18.72px 0;
  text-align: center;
}

#profile .container li p{
  line-height: 150%;
  text-align: center;
  margin-bottom: 20px;
}

#profile .container .copy{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebc236;
  opacity: 0;
}

#profile .container .icon-hover{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  opacity: 0;
}

#profile .container .hover{
  position: relative;
  display: block;
}

#profile .container .hover:hover .icon-hover{
  z-index: 2;
  opacity: 1;
  transition: 0.7s;
}

#profile .container .hover:hover .copy{
  opacity: 0.9;
  transition: 0.7s;
}

#about{
  padding: 150px 0;
}

#about .basic{
  position: relative;
}

#about .timeline{
  position: absolute;
  width: 2px;
  height: 1300px;
  z-index: -1;
  left: 50%;
  background-color: #f1f1f1;
}

#about .container ul::after{
  content: '';
  display: block;
  clear: both;
}

#about .container h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

#about .container h1+p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
  font-size: 16px;
  font-style: italic;
}

#about .container li{
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
}

#about .container li h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

#about .container li p{
  font-size: 14px;
}

#about .container li .caption-img{
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: 8px solid #f1f1f1;
  position: absolute;
  left: 515px;
}

#about .container img{
  width: 156px;
  height: 156px;
  border-radius: 50%;
  margin: 0 auto;
}

#about .container .bg{
  background-color: #fed136;
  text-align: center;
  color: #fff;
}

#about .container h3{
  font-size: 18px;
}
#about .container h3:nth-child(1){
  margin-top: 50px;
}

#about .container .left{
  float: left;
  text-align: right;
  width: 380px;
  margin-top: 10px;
  margin-left: 50px;
}

#about .container .right{
  float: right;
  text-align: left;
  width: 380px;
  margin-top: 10px;
  margin-right:60px;
}

#people{
  padding: 150px 0;
  background-color: #f7f7f7;
}

#people h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

#people h1+p{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 75px;
  text-align: center;
}
#people .container .round-img{
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin: 14px;
}

#people .container img{
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

#people li h2{
  font-size:18px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

#people li h2+p{
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

#people .container .people-list>li{
  float: left;
  margin-left: 100px;
}

#people .container .icon-list{
  height: 40px;
}
#people .container .icon-list li{
  float: left;
  margin-left: 20px;
  position: relative;
  left: 40px;
}

#people .container .people-list::after{
  content: '';
  display: block;
  clear: both;
}

#people .container::after{
  content: '';
  display: block;
  clear: both;
}

#people .container ul+p{
  font-size: 16px;

  text-align: center;
  line-height: 28px;
  color: #777;
  margin: 10px 200px;
  margin-top: 100px;
}


#people .container .iconfont{
  color: #000;
  font-size: 35px;
}

#people .container .icon-list i{
  transition: 0.7s;
}
#people .container .icon-list a:hover i{
  color: #fed136;
}

#company ul{
  margin-left: 100px;
}
#company li{
  float: left;
  margin-left: 150px;
}

#company img{
  width: 200px;
  height: 50px;
  margin: 50px 31.25px;
}

#company::after{
  content: '';
  display: block;
  clear: both;
}

#contact{
  padding:150px 0;
	text-align: center;
	background: url(../img/map-image.png) #222 no-repeat center 25px;
}

#contact .contact-text h1{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

#contact .contact-text p{
  font-size: 16px;
  text-align: center;
  color: #777;
  margin-top: 20px;
  margin-bottom: 75px;
}

#contact .input-control{
  width: 540px;
  height: 56px;
  margin-bottom: 28px;
  border-radius: 4px;
}

#contact .left{
  margin-left: -600px;
}
#contact textarea{
  width: 553px;
  height: 230px;
  border-radius: 4px;
  position: relative;
  top: -265px;
  float: right;
}

#contact .btn{
  position: relative;
  left: 290px;
  top: 30px;
}
#contact .btn a{
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #fed136;
  border-radius: 6px;
  transition: 0.7s;
}

#contact .btn a:hover{
  background-color:  #fec503;
}



#footer .container{
  padding-left:230px;
  padding-right: 230px;
}

#footer{
  padding: 25px 0 25px 0;
}

#footer p{
  float: left;
  font-size: 16px;
  width: 230px;
  margin-left: -100%;
  position: relative;
  left:30px;
}

#footer .list{
  float: left;
}

#footer .list li{
  float: left;
}
#footer .list li:nth-child(1){
  margin-left: 530px;
}

#footer .list::after{
  content: '';
  display: block;
  clear: both;
}

#footer .a{
  float: left;
  width: 230px;
  margin-left: -230px;
}

#footer .list{
  width: 100%;
}
#footer li i{
  font-size: 30px;
  margin-left: 20px;
  color: #000;
}
#footer li i:hover{
  color: #fed136;
}

#footer .a a{
  color: #fed136;
}
#footer .a a:hover{
  text-decoration: underline;
}

#footer .container::after{
  content: '';
  display: block;
  clear: both;
}
